.Home_Telecine{
    z-index: -1;
    background-image: url('../img/Background_Home.jpg');
    background-size: cover;
    min-height: calc(100vh - 100px);
    width: 100%;
    .Home_Bg_Text{
        a{
            outline: none;
            text-decoration: none;
        }
        background-image: url('../img/Home_Bg_Text.png');
        background-size: cover;
        background-position: center;
        min-height: calc(100vh - 100px);
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-left: 100px;
        flex-direction: column;
        .Home_Text_Title{
            .Span_Draft1{
                display: block;
            }
            h1{
                padding: 0;
                margin: 0;
                font-size: 32px;
                line-height: 40px;
            }
            .Span_Draft2{
                display: block;
                color: #ea493e;
            }
        }
        .Home_Text_Subtitle{
            padding: 24px 0px;
            h2{
                padding: 0;
                margin: 0;
                color: #515151;
                font-weight: 500;
                b{
                    font-weight: 700;
                }
            }
        }
    }
}

@media screen and (max-width: 839px){
    .Home_Telecine{
        background-image: url('../img/BackgroundMobile_Home.png');
        background-size: cover;
        background-color: #000;
        .Home_Bg_Text{
            position: relative;
            z-index: 10;
            background-image: none;
            width: calc(100% - 128px);
            padding: 0 64px;
            justify-content: center;
            align-items: center;
            .Home_Text_Title{
                text-align: center;
                color: #fff;
            }
            .Home_Text_Subtitle{
                text-align: center;
                h2{
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 639px){
    .Home_Telecine{
        .Home_Bg_Text{
            width: calc(100% - 64px);
            padding: 0px 32px;
            .Home_Text_Title{
                h1{
                    padding: 0;
                    margin: 0;
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 400;
                }
            }
            .Home_Text_Subtitle{
                h2{
                    padding: 0;
                    margin: 0;
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 500;
                    b{
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 640px){
    .Home_Telecine{
        .Home_Bg_Text{
            .Home_Text_Title{
                h1{
                    text-transform: uppercase;
                }
            }
            .Home_Text_Subtitle{
                h2{
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }
    }
}